@charset utf-8;
@font-face { font-family: 'S-CoreDream-9Black'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-9Black.woff') format('woff'); font-weight: normal; font-style: normal;}
body {font-family: 'S-CoreDream-9Black';}
.bg-img1 {
	background-image: url(../images/visual_bg_pc.png);
	background-position: center;
	background-repeat: no-repeat;
	height: 965px;
}
.bg-img2 {
	background-image: url(../images/content_bg01_pc.png);
	background-repeat: repeat-y;
	position: relative;
}
.corner{border-radius:20px}
.bg-img3{
	background-image: url(../images/news_line_pc.png);
	background-repeat: repeat-x;
	height: 50px;
}
.bg-img4{
	background-image: url(../images/slide_main.png);
	background-position: center;
	background-repeat: no-repeat;
	height: 476px;
}

button.slick-prev {
	display: none !important;
}
button.slick-next {
	display: none !important;
}
.pcon{opacity: 0;}
.bView01:hover .pcoff{opacity: 0;}
.bView01:hover .pcon{opacity: 1;}
.setoff{opacity: 1;}
.seton{position:absolute; top: 10px; left: 0; opacity: 0;}
.bView02:hover .setoff{opacity:0}
.bView02:hover .seton{opacity:1;}

.bg-img5{
	background-image: url(../images/main_bottom_bgi.png);
	background-position: center;
	background-repeat: no-repeat;
	height: 1250px;
}
.vPcon{opacity: 0;}
.bView03:hover .vPcoff{opacity: 0;}
.bView03:hover .vPcon{opacity: 1;}

.bg-img6 {
	background-image: url(../images/footer_bg_pc.png);
	height: 78px;
}
.page-top{opacity: 0}
.page-top.active {opacity: 1;}
.bg-img7 {
	background-image: url(../images/sub_main_bg_top.png);
	background-position: center;
	height: 700px;
}
.bg-img7 h2 {text-align: center;}
.bg-img8{
	background-image: url(../images/sub_main_bg_bottom.png);
	background-repeat: repeat-y;
}
.bg-img9{
	background-image: url(../images/sub_bg.png);
}
.bg-img10{
	background-image: url(../images/back_ground.png);
}
.bView04{position: relative;}
.sTitle{opacity: 1;}
.sTitleB{position:absolute; top: 0;opacity: 1;}
.bView04:hover .sTitle{opacity:1;}
.bView04:hover .sTitleB{opacity:0;}
.bView05{position: relative;}
.cTitle{opacity: 1;}
.cTitleB{position:absolute; top: 0;left: 0;opacity: 1;}
.bView05:hover .cTitle{opacity:1}
.bView05:hover .cTitleB{opacity:0;}
.sTitleWrap{
	background-color: #61b8a2;
	width: 100%;height: 6px;
	margin-top: 10px; position: relative;
}
.sTitleWrap:after{
	content: "";display: block;
	border-width:20px;border-style:solid;
	border-color:#61b8a2 transparent transparent transparent;
	position: absolute; top: 0;left: 50%;
	transform: translateX(-50%);
}
.cTitleWrap{
	background-color: #61b8a2;
	width: 100%;height: 6px;
	margin-top: 15px; position: relative;
}
.cTitleWrap:after{
	content: "";display: block;
	border-width:20px;border-style:solid;
	border-color:#61b8a2 transparent transparent transparent;
	position: absolute; top: 0;left: 50%;
	transform: translateX(-50%);
}
.bg-img11{
	background-image: url(../images/sub_line.png);
	background-position: center;
	background-repeat: repeat-y;
}
.iTxt{color: #483c23;}
.iTxt:before{
	content: "";display: inline-block;
	background-image: url(../images/tree_icon.png);
	width: 26px;height: 26px; margin-right: 10px;
}
.iTxt span{
	font-size: 1.2em;
}
.iTxt2{
	border: 2px solid #61b8a2;
	border-radius: 10px;
}
.tColor{color: #483c23}
.bg-img12{
	background-image: url(../images/back_ground2.png);
}
.bg-img13{
	background-image: url(../images/bg-img13.png);
}
.bView06{position: relative;}
.closeon{opacity: 1;}
.closeoff{position:absolute; top: 0;left: 0; opacity: 0;}
.bView06:hover .closeon{opacity:0;}
.bView06:hover .closeoff{opacity:1;}
.bg-img14{
	background-image: url(../images/bg_manga__pc.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	height: 460px;
	position: relative;
}
.manga{
	/*position: absolute;
	top: 50%;left: 50%;
	transform: translate(-50%,-50%);*/
	padding-top: 220px;
}
#yt{
	position: absolute;
	top: 50%; left: 50%;
	margin-top: -203px; margin-left: -320px;
}
.contentWrap div{cursor: pointer;margin-bottom: 20px;}
.content img{display: none;}
.content img:first-child{display: block;}

@media (max-width:959px) and (min-width:561px){
	.bg_img5{background-image: url(../images/main_bottom_bgi_tb.png);}
}
@media (max-width:560px){
	.bg-img5{
		background-image: url(../images/main_bottom_bgi_mb.png);
	}
	.bg-img7 {
		background-image: url(../images/sub_main_bg_top-mb.png);
		background-position: center;
		height: 700px;
	}
	#yt{
		width: 250px; height: 140px;
		margin-top: -93px; margin-left: -125px;
	}
}














