@charset utf-8;
.bg-img1 {
	background-image: url(../images/visual_bg_pc.png);
	background-position: center;
	background-repeat: no-repeat;
	height: 965px; width: 100%;
}
.bg-img2 {
	background-image: url(../images/content_bg01_pc.png);
	background-repeat: repeat-y;
	position: relative;
}
.corner{border-radius:20px}
.bg-img3{
	background-image: url(../images/news_line_pc.png);
	background-repeat: repeat-x;
	height: 50px;
}
