@charset utf-8;
@font-face { font-family: 'S-CoreDream-9Black'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-9Black.woff') format('woff'); font-weight: normal; font-style: normal; }
body {font-family: 'S-CoreDream-9Black';}
.bg-img1 {
	background-image: url(../images/visual_bg_pc.png);
	background-position: center;
	background-repeat: no-repeat;
	height: 965px;
}
.bg-img2 {
	background-image: url(../images/content_bg01_pc.png);
	background-repeat: repeat-y;
	position: relative;
}
.corner{border-radius:20px}
.bg-img3{
	background-image: url(../images/news_line_pc.png);
	background-repeat: repeat-x;
	height: 50px;
}
.bg-img4{
	background-image: url(../images/slide_main.png);
	background-position: center;
	background-repeat: no-repeat;
	height: 476px;
}

button.slick-prev {
	display: none !important;
}
button.slick-next {
	display: none !important;
}
.pcon{opacity: 0;}
.bView01:hover .pcoff{opacity: 0;}
.bView01:hover .pcon{opacity: 1;}
.setoff{opacity: 1;}
.seton{position:absolute; top: 10px; left: 0; opacity: 0;}
.bView02:hover .setoff{opacity:0}
.bView02:hover .seton{opacity:1;}

.bg-img5{
	background-image: url(../images/main_bottom_bgi.png);
	background-position: center;
	background-repeat: no-repeat;
	height: 1250px;
}
.vPcon{opacity: 0;}
.bView03:hover .vPcoff{opacity: 0;}
.bView03:hover .vPcon{opacity: 1;}

.bg-img6 {
	background-image: url(../images/footer_bg_pc.png);
	height: 78px;
}
.page-top{opacity: 0}
.page-top.active {opacity: 1;}
.bg-img7 {
	background-image: url(../images/sub_main_bg_top.png);
	background-position: center;
	height: 700px;
}
.bg-img7 h2 {text-align: center;}
.bg-img8{
	background-image: url(../images/sub_main_bg_bottom.png);
}
.bg-img9{
	background-image: url(../images/sub_bg.png);
}
.bg-img10{
	background-image: url(../images/back_ground.png);
}
.sTitle{opacity: 1;}
.sTitleB{position:absolute; top: 0; left: 15px;opacity: 1;}
.bView04:hover .sTitle{opacity:1}
.bView04:hover .sTitleB{opacity:0;}
.cTitle{opacity: 1;}
.cTitleB{position:absolute; top: 0; left: 15px;opacity: 1;}
.bView05:hover .cTitle{opacity:1}
.bView05:hover .cTitleB{opacity:0;}

@media (max-width:959px) and (min-width:561px){
	
}
@media (max-width:560px){
	.bg-img7 {
		background-image: url(../images/sub_main_bg_top-mb.png);
		background-position: center;
		height: 700px;
	}
}














